@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Planet";
    src: url("/fonts/Planet-Joy.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #111b27;
    zoom: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.app {
    margin: auto;
    font-family: "Planet";
    color: #b1a99c;
    user-select: none;
    max-width: 1440px;
    box-shadow: 0 0 20px #111b27;
}

.started {
    opacity: 0;
}

.camera {
    filter: drop-shadow(-20px 20px 20px #000)
}

.intro {
    background-image: linear-gradient(36deg, #111b27 50%, #c52644 50%);
}

.stroke-text {
    color: transparent;
    -webkit-text-stroke: 3px #b1a99c;
    text-stroke: 3px #b1a99c;
}